body {
  font-family: Arial, sans-serif;
  background: #020617;
  color: #e5e7eb;
  margin: 0;
}

.hero {
  text-align: center;
  padding: 60px;
}

.profile {
  width: 140px;
  border-radius: 50%;
}

nav {
  text-align: center;
  padding: 15px;
  background: #0f172a;
}

nav a {
  color: #38bdf8;
  margin: 0 10px;
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #38bdf8;
  padding: 12px 25px;
  border-radius: 25px;
  color: black;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 20px;
  padding: 40px;
}

.card, .project {
  background: #0f172a;
  padding: 20px;
  border-left: 4px solid #38bdf8;
}

input, textarea {
  width: 90%;
  margin: 10px;
  padding: 10px;
  background: #020617;
  border: 1px solid #38bdf8;
  color: white;
}

button {
  background: #38bdf8;
  border: none;
  padding: 10px 20px;
}
