body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #020617;
  color: #e5e7eb;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #020617, #0f172a);
}

.hero-btns a {
  margin: 10px;
  padding: 12px 25px;
  background: #38bdf8;
  color: black;
  border-radius: 25px;
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0;
  background: #020617;
  padding: 10px;
  text-align: center;
}

.navbar a {
  margin: 0 12px;
  color: #38bdf8;
  text-decoration: none;
}

section {
  padding: 80px 10%;
}

.skills-grid, .dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.project-card {
  background: #0f172a;
  padding: 20px;
  border-left: 5px solid #38bdf8;
  margin: 20px 0;
}

.timeline div {
  margin: 20px 0;
  padding: 20px;
  background: #0f172a;
  border-left: 4px solid #22d3ee;
}

form input, form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  background: #020617;
  border: 1px solid #38bdf8;
  color: white;
}

button {
  padding: 12px 25px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}
